# Download Data

## Download OSM data

In [1]:
import pyrosm
from pyrosm import get_data

fp = get_data("Toronto", directory = "data/osm")

## Download TTC Transit Feed data

In [2]:
import requests

# Toronto Open Data is stored in a CKAN instance. It's APIs are documented here:
# https://docs.ckan.org/en/latest/api/

# To hit our API, you'll be making requests to:
base_url = "https://ckan0.cf.opendata.inter.prod-toronto.ca"

# Datasets are called "packages". Each package can contain many "resources"
# To retrieve the metadata for this package and its resources, use the package name in this page's URL:
url = base_url + "/api/3/action/package_show"
params = { "id": "ttc-routes-and-schedules"}
package = requests.get(url, params = params).json()

# To get resource data:
for idx, resource in enumerate(package["result"]["resources"]):

# To get metadata for non datastore_active resources:
    if not resource["datastore_active"]:
        url = base_url + "/api/3/action/resource_show?id=" + resource["id"]
        resource_metadata = requests.get(url).json()
        url = resource_metadata["result"]["url"]
        print(resource_metadata)
        # From here, you can use the "url" attribute to download this file

{'help': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/help_show?name=resource_show', 'success': True, 'result': {'cache_last_updated': None, 'cache_url': None, 'created': '2020-12-07T21:50:41.530037', 'datastore_active': False, 'extract_job': 'Airflow: upload_remote_files', 'format': 'ZIP', 'hash': '', 'id': 'cfb6b2b8-6191-41e3-bda1-b175c51148cb', 'is_datastore_cache_file': False, 'is_preview': False, 'last_modified': '2023-09-03T19:57:48', 'metadata_modified': '2023-09-03T20:15:40.676930', 'mimetype': 'application/zip', 'mimetype_inner': None, 'name': 'TTC Routes and Schedules Data', 'package_id': '7795b45e-e65a-4465-81fc-c36b9dfff169', 'position': 0, 'resource_type': None, 'revision_id': '4e00475d-2c1b-421a-ae1c-7686ae77d08f', 'size': 33786302, 'state': 'active', 'url': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/7795b45e-e65a-4465-81fc-c36b9dfff169/resource/cfb6b2b8-6191-41e3-bda1-b175c51148cb/download/opendata_ttc_schedules.zip', 'url_type': 'upload'}}

In [6]:
import requests, zipfile, io

r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("data/TTC")

# with open (r"data/TTC/gtfs.zip", mode="wb") as file:
#     file.write(r.content)

## Download TTC Subway Lines Shapefiles

In [3]:
import requests

# Toronto Open Data is stored in a CKAN instance. It's APIs are documented here:
# https://docs.ckan.org/en/latest/api/

# To hit our API, you'll be making requests to:
base_url = "https://ckan0.cf.opendata.inter.prod-toronto.ca"

# Datasets are called "packages". Each package can contain many "resources"
# To retrieve the metadata for this package and its resources, use the package name in this page's URL:
url = base_url + "/api/3/action/package_show"
params = { "id": "ttc-subway-shapefiles"}
package = requests.get(url, params = params).json()

# To get resource data:
for idx, resource in enumerate(package["result"]["resources"]):

    # To get metadata for non datastore_active resources:
    if not resource["datastore_active"]:
        url = base_url + "/api/3/action/resource_show?id=" + resource["id"] #api URL
        resource_metadata = requests.get(url).json()
        url = resource_metadata["result"]["url"] #result url
        print(resource_metadata)
    # From here, you can use the "url" attribute to download this file

{'help': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/help_show?name=resource_show', 'success': True, 'result': {'cache_last_updated': None, 'cache_url': None, 'created': '2019-07-23T18:13:00.742161', 'datastore_active': False, 'format': 'SHP', 'hash': '', 'id': '7d68bb52-3285-45d7-a248-7748cb47f6ce', 'is_datastore_cache_file': False, 'is_preview': False, 'last_modified': '2019-07-23T18:13:00.719515', 'metadata_modified': '2022-03-25T15:06:23.894145', 'mimetype': 'application/zip', 'mimetype_inner': None, 'name': 'ttc-subway-shapefile-wgs84', 'package_id': 'c01c6d71-de1f-493d-91ba-364ce64884ac', 'position': 0, 'resource_type': None, 'revision_id': '279d3841-1011-43db-b225-692623995917', 'size': 20796, 'state': 'active', 'url': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/c01c6d71-de1f-493d-91ba-364ce64884ac/resource/7d68bb52-3285-45d7-a248-7748cb47f6ce/download/ttc-subway-shapefile-wgs84.zip', 'url_type': 'upload'}}

In [7]:
import requests, zipfile, io

r2 = requests.get(url)
z2 = zipfile.ZipFile(io.BytesIO(r2.content))
z2.extractall("data/TTC")

# Create Network Dataset

In [1]:
%set_env JAVA_HOME=C:\Program Files\Microsoft\jdk-17.0.8.101-hotspot\

env: JAVA_HOME=C:\Program Files\Microsoft\jdk-17.0.8.101-hotspot\

In [2]:
import geopandas as gpd
import pandas as pd
import numpy as np
import fiona
import r5py
import datetime

C:\Users\teres\AppData\Local\Temp\ipykernel_19016\3027855954.py:1: DeprecationWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas still uses PyGEOS by default. However, starting with version 0.14, the default will switch to Shapely. To force to use Shapely 2.0 now, you can either uninstall PyGEOS or set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In the next release, GeoPandas will switch to using Shapely by default, even if PyGEOS is installed. If you only have PyGEOS installed to get speed-ups, this switch should be smooth. However, if you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd
Cannot find header.dxf (GDAL_DATA is not defined)

In [3]:
#Bring in the geojson files for rinks and hex_grid
rinks = gpd.read_file("analysis/data/rinks.geojson")
#Data must contain an ID column
rinks["id"] = rinks._id

hex_grid = gpd.read_file("analysis/data/hex-grid-centroids.geojson")

In [9]:
#Create transport network
transport_network = r5py.TransportNetwork("data/osm/Toronto.osm.pbf",["data/TTC/gtfs.zip"])

## Get Minimum Travel Time - Walking + Transit

In [22]:
#Compute travel time matrix for walking and transit on a weekday at 6:30pm
from r5py import TransportMode

travel_time_matrix_computer = r5py.TravelTimeMatrixComputer(
    transport_network,origins=rinks,destinations=hex_grid,
    departure=datetime.datetime(2023,9,6,18,30), 
    transport_modes=[TransportMode.WALK, TransportMode.TRANSIT], speed_walking=4.5)

In [23]:
travel_time_matrix = travel_time_matrix_computer.compute_travel_times()
travel_time_matrix.to_csv("data/tt_matrix.csv", index = True)

In [24]:
#Get only minimum travel time to the cloest ring for each hex
import pandas as pd

tt = pd.read_csv("data/tt_matrix.csv")
tt["travel_time"] = tt["travel_time"].fillna(120)

#Find minimum walking + transit time from hex to the cloest ring
min_tt_wt_630 = tt.groupby("to_id").agg({"travel_time":[min]})
min_tt_wt_630.to_csv("data/access-min-travel-time.csv")

In [25]:
min_tt_wt_630 = min_tt_wt_630.rename(columns ={"travel_time":"walk_&_transit_weekday"})
min_tt_wt_630

      walk_&_transit_weekday
                         min
to_id
1544                    43.0
1545                    43.0
1708                    40.0
1709                    41.0
1710                    41.0
...                      ...
41369                   63.0
41370                   67.0
41371                   69.0
41532                   70.0
41533                   66.0

[19588 rows x 1 columns]

## Get Minimum Travel Time - Walking

In [18]:
#Compute travel time matrix for walking ONLY 
from r5py import TransportMode

travel_time_matrix_computer_walk = r5py.TravelTimeMatrixComputer(
    transport_network,origins=rinks,destinations=hex_grid,
    departure=datetime.datetime(2023,9,6,18,30),
    transport_modes=[TransportMode.WALK], speed_walking=4.5)

In [19]:
travel_time_matrix_walk = travel_time_matrix_computer_walk.compute_travel_times()
travel_time_matrix_walk.to_csv("data/tt_matrix_walk.csv", index = True)

In [20]:
import pandas as pd

tt_walk = pd.read_csv("data/tt_matrix_walk.csv")
tt_walk["travel_time"] = tt_walk["travel_time"].fillna(120)

#Find minimum walking time from hex to the cloest ring
min_tt_walk = tt_walk.groupby("to_id").agg({"travel_time":[min]})
min_tt_walk.to_csv("data/min_walking_travel_time")

In [21]:
min_tt_walk = min_tt_walk.rename(columns ={"travel_time":"walk"})
min_tt_walk

        walk
         min
to_id
1544    51.0
1545    51.0
1708    47.0
1709    49.0
1710    51.0
...      ...
41369  120.0
41370  120.0
41371  120.0
41532  120.0
41533  120.0

[19588 rows x 1 columns]

## Get Minimum Travel Time - Transit (Weekday)

In [26]:
#Compute travel time matrix for transit ONLY on a weekday

travel_time_matrix_computer_transit_weekday = r5py.TravelTimeMatrixComputer(
    transport_network,origins=rinks,destinations=hex_grid,
    departure=datetime.datetime(2023,9,6,18,30),
    transport_modes=[TransportMode.TRANSIT], speed_walking=4.5)

In [27]:
travel_time_matrix_computer_transit_weekday = travel_time_matrix_computer_transit_weekday.compute_travel_times()
travel_time_matrix_computer_transit_weekday.to_csv("data/tt_matrix_transit_weekday", index = True)

In [28]:
tt_transit_weekday = pd.read_csv("data/tt_matrix_transit_weekday")
tt_transit_weekday["travel_time"] = tt_transit_weekday["travel_time"].fillna(120)

#Find minimum transit time from hex to the cloest ring on a weekday
min_tt_transit_weekday = tt_transit_weekday.groupby("to_id").agg({"travel_time":[min]})
min_tt_transit_weekday.to_csv("data/min_transit_travel_time")

In [29]:
min_tt_transit_weekday = min_tt_transit_weekday.rename(columns = {"travel_time":"transit_weekday"})
min_tt_transit_weekday

      transit_weekday
                  min
to_id
1544             43.0
1545             43.0
1708             40.0
1709             41.0
1710             41.0
...               ...
41369            63.0
41370            67.0
41371            69.0
41532            70.0
41533            66.0

[19588 rows x 1 columns]

## Get Minimum Travel Time - Transit (Weekend)

In [30]:
#Compute travel time matrix for transit on a weekend at 2:30pm

travel_time_matrix_computer_transit_weekend = r5py.TravelTimeMatrixComputer(
    transport_network,origins=rinks,destinations=hex_grid,
    departure=datetime.datetime(2023,9,9,14,30), 
    transport_modes=[TransportMode.TRANSIT], speed_walking=4.5)

In [31]:
travel_time_matrix_computer_transit_weekend = travel_time_matrix_computer_transit_weekend.compute_travel_times()
travel_time_matrix_computer_transit_weekend.to_csv("data/tt_matrix_transit_weekend", index = True)

In [32]:
tt_matrix_transit_weekend = pd.read_csv("data/tt_matrix_transit_weekend")
tt_matrix_transit_weekend["travel_time"] = tt_matrix_transit_weekend["travel_time"].fillna(120)

#Find minimum transit time from hex to the cloest ring on a weekend
min_tt_transit_weekend = tt_matrix_transit_weekend.groupby("to_id").agg({"travel_time":[min]})
min_tt_transit_weekend.to_csv("data/min_tt_transit_weekend")

In [33]:
min_tt_transit_weekend = min_tt_transit_weekend.rename(columns = {"travel_time":"transit_weekend"})
min_tt_transit_weekend

      transit_weekend
                  min
to_id
1544             45.0
1545             44.0
1708             41.0
1709             43.0
1710             41.0
...               ...
41369            65.0
41370            69.0
41371            70.0
41532            72.0
41533            68.0

[19588 rows x 1 columns]

## Inner Join to Combine all DFs

In [34]:
#Use inner join to combine all tables into one df
final = pd.concat([min_tt_wt_630,min_tt_walk,min_tt_transit_weekday,min_tt_transit_weekend],
                 axis=1, join="inner").droplevel(1,axis=1).reset_index(drop=False)
#Export final datatable to a csv
final.to_csv("data/travel_time_final.csv")

In [35]:
final

       to_id  walk_&_transit_weekday   walk  transit_weekday  transit_weekend
0       1544                    43.0   51.0             43.0             45.0
1       1545                    43.0   51.0             43.0             44.0
2       1708                    40.0   47.0             40.0             41.0
3       1709                    41.0   49.0             41.0             43.0
4       1710                    41.0   51.0             41.0             41.0
...      ...                     ...    ...              ...              ...
19583  41369                    63.0  120.0             63.0             65.0
19584  41370                    67.0  120.0             67.0             69.0
19585  41371                    69.0  120.0             69.0             70.0
19586  41532                    70.0  120.0             70.0             72.0
19587  41533                    66.0  120.0             66.0             68.0

[19588 rows x 5 columns]

## Combine Census Variable DFs

In [1]:
import pandas as pd

In [27]:
df1 = pd.read_csv(r"C:\Users\teres\Downloads\data.csv")
df1 = df1.set_index(["GeoUID"]).rename(columns={
    "v_CA21_560: Median total income in 2020 among recipients ($)":"Median Income(2020,$)"})

,Type,Region Name,Area (sq km),Population,Dwellings,Households,"Median Income(2020,$)"
GeoUID,,,,,,,
35180018,DA,35180018,6.1125,1573,540,527,50800.0
35180019,DA,35180019,0.2620,709,284,275,43600.0
35180021,DA,35180021,0.1923,490,231,214,43200.0
35180022,DA,35180022,0.2121,407,206,194,43600.0
35180024,DA,35180024,0.3922,486,173,171,51600.0
...,...,...,...,...,...,...,...
35431423,DA,35431423,0.8142,2285,711,706,48800.0
35431425,DA,35431425,5.7717,108,46,41,NaN
35431426,DA,35431426,0.2193,816,345,336,42400.0
35431427,DA,35431427,0.4174,455,184,175,38400.0
35431428,DA,35431428,0.2865,741,304,291,40000.0

In [52]:
df2 = pd.read_csv(r"C:\Users\teres\Downloads\data (2).csv")

df2 = df2.set_index(["GeoUID"]).rename(columns={
    "v_CA21_4404: Total - Immigrant status and period of immigration for the population in private households":"# of Immigrants",
    "v_CA21_4872: Total - Visible minority for the population in private households": "# of Visible Minority"})
df2 = df2.drop(columns=["Type", "Region Name", "Area (sq km)", "Population ", "Dwellings ", "Households "])
df2

          # of Immigrants  # of Visible Minority
GeoUID
35180018           1520.0                 1515.0
35180019            740.0                  745.0
35180021            460.0                  460.0
35180022            475.0                  475.0
35180024            490.0                  490.0
...                   ...                    ...
35431423           2410.0                 2410.0
35431425             75.0                   80.0
35431426            850.0                  855.0
35431427            375.0                  370.0
35431428            670.0                  675.0

[7716 rows x 2 columns]

In [55]:
census = df1.join(df2, how="left")
census.to_csv("data/census.csv")

In [56]:
census

,Type,Region Name,Area (sq km),Population,Dwellings,Households,"Median Income(2020,$)",# of Immigrants,# of Visible Minority
GeoUID,,,,,,,,,
35180018,DA,35180018,6.1125,1573,540,527,50800.0,1520.0,1515.0
35180019,DA,35180019,0.2620,709,284,275,43600.0,740.0,745.0
35180021,DA,35180021,0.1923,490,231,214,43200.0,460.0,460.0
35180022,DA,35180022,0.2121,407,206,194,43600.0,475.0,475.0
35180024,DA,35180024,0.3922,486,173,171,51600.0,490.0,490.0
...,...,...,...,...,...,...,...,...,...
35431423,DA,35431423,0.8142,2285,711,706,48800.0,2410.0,2410.0
35431425,DA,35431425,5.7717,108,46,41,NaN,75.0,80.0
35431426,DA,35431426,0.2193,816,345,336,42400.0,850.0,855.0
35431427,DA,35431427,0.4174,455,184,175,38400.0,375.0,370.0
35431428,DA,35431428,0.2865,741,304,291,40000.0,670.0,675.0